.valid-input {
    border: 2px solid rgba(178, 186, 218, 1);
    border-radius: 2px;
    outline: none;
    box-shadow: 0 0 10px rgba(27, 237, 43, 1);
    -webkit-box-shadow: 0 0 10px rgba(27, 237, 43, 1);
    -moz-box-shadow: 0 0 10px rgba(27, 237, 43, 1);
    font-size: 12px;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
}

.invalid-input {
    border: 2px solid rgba(178, 186, 218, 1);
    border-radius: 2px;
    outline: none;
    box-shadow: 0 0 10px rgba(238, 46, 49, 1);
    -webkit-box-shadow: 0 0 10px rgba(238, 46, 49, 1);
    -moz-box-shadow: 0 0 10px rgba(238, 46, 49, 1);
    font-size: 12px;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
}

.button{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    padding: 2px 4px;
    background: -moz-linear-gradient(
            top,
            #f4f4f4 0%,
            #eaeaea 50%,
            #dddddd 51%,
            #d0d0d0);
    background: -webkit-gradient(
            linear, left top, left bottom,
            from(#f4f4f4),
            color-stop(0.50, #eaeaea),
            color-stop(0.51, #dddddd),
            to(#d0d0d0));
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #6f6f6f;
    -moz-box-shadow:
    0px 1px 3px rgba(000,000,000,0.5),
    inset 1px 1px 1px rgba(251,251,251,1);
    -webkit-box-shadow:
    0px 1px 3px rgba(000,000,000,0.5),
    inset 1px 1px 1px rgba(251,251,251,1);
    box-shadow:
    0px 1px 3px rgba(000,000,000,0.5),
    inset 1px 1px 1px rgba(251,251,251,1);
    text-shadow:
    0px 0px 0px rgba(000,000,000,1),
    0px 0px 0px rgba(255,255,255,0.2);
}

.button[disabled] {
    color: #AAAAAA;
}